.physician-section2{
    margin: 150px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark .physician-section2 {
  margin: 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.physician-section2 h2{
    font-size: 45px;
    font-weight: 800;
    padding: 50px 0;
}

.physician-section2 ul {
  list-style: none;
  padding-bottom: 30px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.physician-section2 li {
  flex: 0 0 calc(33.33% - 20px); /* Three items in a row initially with some margin */
  width: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
}

.physician-section2 li img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.physician-section2 li h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: black;
}
.dark .physician-section2 li h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: white;
}



.physician-section2 li p {
  color: #666;
}

.dark .physician-section2 li p {
  color: white;
}
@media (max-width: 1200px) {
  .physician-section2 li {
    flex: 0 0 calc(50% - 20px); /* Two items in a row for screens up to 768px */
    width: calc(50% - 20px);
  }
}

@media (max-width: 800px) {
  .physician-section2 li {
    flex: 0 0 calc(100% - 20px); /* One item in a row for screens up to 480px */
    width: calc(100% - 20px);
  }
}