

.about-section{
    max-width: 60%;
    margin: 193.2px auto 145px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-section > *{
    margin-bottom: 20px;
    line-height: 2.1; /* Adjust the line-height value as needed */
}
