

.section2 {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
  position: relative; /* Ensure position relative is set */

}

.dark .section2 {
  background-color: #333;
  color: white;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: block;
  overflow: hidden;
  position: relative;
      /* Ensure position relative is set */
}

.section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out;
}

.carousel-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin-top: 10px;
  z-index: 2;
}

.carousel-button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 0 5px;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  opacity: 0.5;
  transition: background-color 0.5s ease, opacity 0.5s ease;
}

.carousel-button.active {
  background-color: white;
  opacity: 1;
}
/* Section 3 - Services */

.dark .section3 {
    background-color: #333;
      color: white;
      margin: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.section3{
    margin: 50px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 h2{
    font-size: 45px;
    font-weight: 800;
    padding: 50px 0;
}

.section3 ul {
  list-style: none;
  padding-bottom: 30px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section3 li {
  flex: 0 0 calc(33.33% - 20px); /* Three items in a row initially with some margin */
  width: calc(33.33% - 20px);
  margin: 10px 10px 40px 10px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
}

.section3 li img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.section3 li h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

.dark .section3 li h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ffffff;
}

.section3 li p {
  color: #666; /* Set the color of the description */
}

.dark .section3 li p {
  color: #dddada;
  /* Set the color of the description */
}
a{
  color: black;
}
.dark a{
  color: white  ;
}

@media (max-width: 1200px) {
  .section3 li {
    flex: 0 0 calc(50% - 20px); /* Two items in a row for screens up to 768px */
    width: calc(50% - 20px);
  }
}

@media (max-width: 800px) {
  .section3 li {
    flex: 0 0 calc(100% - 20px); /* One item in a row for screens up to 480px */
    width: calc(100% - 20px);
  }
}

/* Section 4 */

.dark .contact-section {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 100px 0;
  background-color: #333;
  color: white;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.contact-section > * {
  margin-bottom: 30px;
}   

.contact-section h2{
    font-size: 45px;
    font-weight: 800;
}

.contact-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* Adjust flex-basis to control the number of items in a row */
.contact-details > div {
  flex: 0 0 calc(33.33% - 20px); /* Initially, three items in a row with some margin */
  width: calc(33.33% - 20px);
  margin-bottom: 20px; /* Margin between rows */
}

/* Initially, show all five items in a row with some margin */
.contact-details > div {
  flex: 0 0 calc(20% - 20px); /* 20% width for each item with some margin */
  width: calc(20% - 20px);
  margin-bottom: 20px; /* Margin between rows */
}

/* Media query for screens up to 1500px */
@media (max-width: 1500px) {
  .contact-details > div {
    flex: 0 0 calc(25% - 20px); /* Four items in a row */
    width: calc(25% - 20px);
  }
}

/* Media query for screens up to 1200px */
@media (max-width: 1200px) {
  .contact-details > div {
    flex: 0 0 calc(33.33% - 20px); /* Three items in a row */
    width: calc(33.33% - 20px);
  }
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {
  .contact-details > div {
    flex: 0 0 calc(50% - 20px); /* Two items in a row */
    width: calc(50% - 20px);
  }
}

/* Media query for screens up to 480px */
@media (max-width: 480px) {
  .contact-details > div {
    flex: 0 0 calc(100% - 20px); /* One item in a row */
    width: calc(100% - 20px);
  }
}

/* Section 5 */

.physician-section{
    margin: 50px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark .physician-section {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}

.physician-section h2{
    font-size: 45px;
    font-weight: 800;
    padding: 50px 0;
}

.physician-section ul {
  list-style: none;
  padding-bottom: 30px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.physician-section li {
  flex: 0 0 calc(33.33% - 20px); /* Three items in a row initially with some margin */
  width: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
}

.physician-section li img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.physician-section li h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

.dark .physician-section li h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #ffffff;
}

.physician-section li p {
  color: #666; /* Set the color of the description */
}

.dark .physician-section li p {
  color: #dddada;
  /* Set the color of the description */
}

@media (max-width: 1200px) {
  .physician-section li {
    flex: 0 0 calc(50% - 20px); /* Two items in a row for screens up to 768px */
    width: calc(50% - 20px);
  }
}

@media (max-width: 800px) {
  .physician-section li {
    flex: 0 0 calc(100% - 20px); /* One item in a row for screens up to 480px */
    width: calc(100% - 20px);
  }
}


.dark .show-more-link {
  color: white;
}