/* Common styles for all screen sizes */

.doctor-page {
  margin: 170px 0 120px 0;
}

.dark .doctor-page{
  margin: 170px 0 120px 0;
  color: white;
}

.doctor-info {
  width: 70%;
  display: flex;
  justify-content: space-around;
  margin: 40px auto 0 auto;
}

.doctor-text {
  padding: 20px; /* Adjust padding as needed */
}

.doctor-image {
  width: 100%; /* Adjust width as needed */
  max-width: 300px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
}

.doctor-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.doctor-info p {
  margin-top: 10px;
  font-size: 16px;
}

.doctor-info ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.doctor-info li {
  font-size: 14px;
  margin-bottom: 5px;
}


