.container {
    max-width: 80%;
    margin: auto;

}



.logo img {
    width: 125px;
    /* height: 100px; */
}
.section1 nav{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.section1 nav .navlink ul{
    display: flex;
    align-items: center;
}

.section1 nav .navlink li{
    margin: 0 20px;
}

.link a {
  position: relative;
  padding-bottom: 5px;
  color: black;
}

.dark .link a{
  position: relative;
  padding-bottom: 5px;
  color: white;
}

.link a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(29, 73, 142);
  transition: all 0.3s ease;
}

.dark a::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(125, 170, 241);
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 85%;
}

.section1 {
  position: fixed ;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5); /* Adjust the values as needed */
}


.dark .section1 {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #0b003a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5); /* Adjust the values as needed */
  transition: background-color .5s ease;
}