body.dark {
    --color-background: #1f2023;
    --color-foreground: #efefef;

    --image-grayscale: 50%;
    --image-opacity: 90%;
}

img,
video {
    filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity));
}

/* DarkModeToggle.css */
.dark-mode-toggle {
    position: relative;
    width: 60px;
    height: 34px;
}

.dark-mode-toggle button {
    appearance: none;
    width: 60px;
    height: 34px;
    background: #ccc;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 17px;
    padding: 2px;
}

.dark-mode-toggle .slider {
    position: absolute;
    top: 2px;
    /* Adjust the top position to align with the center of the toggle button */
    left: 2px;
    /* Adjust the left position to align with the start of the toggle button */
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #fff;
    transition: transform 0.3s ease;
    z-index: 1;
    /* Ensure the slider is above the toggle button */
}

.dark-mode-toggle.dark-mode .slider {
    left: calc(100% - 32px);
    /* Adjust the left position to align with the end of the toggle button */
}

.dark-mode-toggle.dark-mode button {
    background: #999;
}